@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix mobile overflow issue */
@media (min-width: 0px) {

    html,
    body {
        overflow-x: hidden;
        max-width: 100vw;
    }

    #root {
        max-width: 100vw;
        overflow-x: hidden;
    }
}